@import "tailwindcss";

/* Define HSL variables */
:root {
  --hue: 224;
  --saturation: 60%;
}

/* Light theme */
html[data-theme='light'] {
  --light: 95%;
  --text: 20%;
}

/* Dark theme */
html[data-theme='dark'] {
  --light: 12%;
  --text: 90%;
}

/* Use them in your base styles */
body {
  background-color: hsl(var(--hue), var(--saturation), var(--light));
  color: hsl(var(--hue), var(--saturation), var(--text));
}